{% extends "base.html.twig" %}
{% block central %}
	<!-- page start-->
	<div class="col-sm-12">
		<section class="panel">
			<div class="chat-room-head">
				<h3>
					<i class="fa fa-angle-right"></i>
					Gérer les pegi</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped table-advance table-hover">
					<thead>
						<tr class="tableau-entete">
							<th>
								<i class="fa fa-bullhorn"></i>
								Identifiant</th>
							<th>
								<i class="fa fa-bookmark"></i>
								Age Limite</th>
							
							<th>
								<i class="fa fa-bookmark"></i>
								Description Pegi</th>
							<th>
								<i class="fa fa-bookmark"></i>
								Nombre jeux</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{ include('messages.html.twig') }}
						<!-- formulaire pour ajouter un nouveau pegi-->
						<tr>
							<form action="{{path('pegi_ajouter')}}" method="post">
								<td>
									Nouveau
								</td>
								<td>
									<input type="text" id="txtageLimite" name="txtageLimite" size="24" placeholder="Age limite"/>
								</td>
								<td>
									<input type="text" id="txtdescPegi" name="txtdescPegi" size="24" required minlength="4" maxlength="24" placeholder="Libellé" title="De 4 à 24 caractères"/>
								</td>
								<td>
									0
								</td>
								<td>
									<button class="btn btn-primary btn-xs" type="submit" name="cmdAction" value="ajouterNouveauPegi" title="Enregistrer nouveau pegi">
										<i class="fa fasave"></i>
									</button>
									<button class="btn btn-info btn-xs" type="reset" title="Effacer la saisie">
										<i class="fa fa-eraser"></i>
									</button>
								</td>
							</form>
						</tr>
						{% for key, pegi in tbPegi %}
							<tr>
								<!-- formuaire pour demander la modification et supprimer les pegi-->
								<form methd="post">
									<td>{{pegi.identifiant }}<input type="hidden" name="txtidPegi" value="{{ pegi.identifiant }}"/></td>
									<td>
										{%if pegi.identifiant != idPegiModif %}
										{{ pegi.libelle  }}</td>
									</td>
									<td>
										{{ pegi.descript }}</td>
									</td>
									<td>
										{{pegi.nbJeux}}
									</td>
									<td>
										{% if notification != 'rien' and pegi.identifiant == idPegiNotif %}
											<button class="btn btn-success btn-xs">
												<i class="fa facheck"></i>
												{{ notification }}</button>
										{% endif %}
										<button class="btn btn-primary btn-xs" type="submit" name="cmdAction" value="demanderModifierPegi" title="Modifier" formaction="{{path('pegi_demandermodifier')}}">
											<i class="fa fa-pencil"></i>
										</button>
										<button class="btn btn-danger btn-xs" type="submit" name="cmdAction" value="supprimerPegi" title="Supprimer" formaction="{{path('pegi_supprimer')}}" onclick="return confirm('Voulez-vous vraiment supprimer ce pegi ?');">
											<i class="fa fa-trash-o "></i>
										</button>
									</td>
								{% else %}
									<input type="text" id="txtdescPegi" name="txtdescPegi" size="24" required minlength="4" maxlength="24" value="{{ pegi.descript }}"/>
								</td>
								<td>
									{{ pegi.nbJeux }}
								</td>
								<td>
									<button class="btn btn-primary btn-xs" type="submit" name="cmdAction" value="validerModifierPegi" title="Enregistrer" formaction="{{path('pegi_validermodifier')}}">
										<i class="fa fa-save"></i>
									</button>
									<button class="btn btn-info btn-xs" type="reset" title="Effacer la saisie">
										<i class="fa fa-eraser"></i>
									</button>
									<button class="btn btn-warning btn-xs" type="submit" name="cmdAction" value="annulerModifierPegi" title="Annuler" formaction="{{path('pegi_afficher')}}">
										<i class="fa fa-undo"></i>
									</button>
								</td>
							{% endif %}
						</form>
					</tbody>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<!-- fin div panel-body--></section><!-- fin section pegi--></div><!--fin div col-sm-8-->{% endblock %}
